body{
    background-color: black;
}

.project-head{
width: 100%;
height: auto;  
color: white;  
}

.myhhr{
    width: 200px;
    margin-left: 0;
    
}
.logo{
    width: 50px;
    height: 50px;
    margin-left: 30%;
}

.image1{
    width: 300px;
    height: 340px;
    margin-top: 0;
}

.project1, .project2, .project3, .project4{
margin-top: 40px;
}

h6{
    font-size: 6px;
}